.preschoolars .theme {
  background-color: #e05f99;
}

.grades1-2 .theme {
  background-color: #f6da6f;
}

.grades3-4 .theme {
  background-color: #54db58;
}

.grades5-11 .theme {
  background-color: #54c6db;
}

.no-age .theme {
  background-color: #0a88ff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.mc-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1300px;
  margin: auto;
}

.mc-card {
  font-family: Ubuntu, sans-serif;
  -ms-flex-preferred-size: 380px;
      flex-basis: 380px;
  position: relative;
  margin: 10px;
}

.mc-card .more {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 20px;
  right: 15px;
  width: 115px;
  height: 42px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  line-height: 42px;
  border: none;
  outline: none;
}

.mc-cover {
  display: block;
  max-width: 100%;
  height: auto;
}

.mc-footer {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mc-footer .more {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.mc-date {
  padding: 15px 10px;
  width: 25%;
  text-align: center;
  font-weight: 700;
}

.mc-date .day {
  font-size: 40px;
}

.mc-date .month {
  font-size: 28px;
}

.mc-description {
  width: 75%;
  background-color: #323232;
  padding: 15px 20px;
}

.mc-description .title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.mc-description .time {
  font-size: 15px;
  font-weight: bold;
}

.mc-description .address {
  font-size: 13px;
  font-weight: 400;
}

.modal-block {
  padding: 10px 40px;
}

.enroll-modal-box.open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.enroll-modal-box {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: Ubuntu, sans-serif;
}

.enroll-modal {
  max-width: 430px;
  background-color: #fff;
  border-radius: 5px;
  border-left: 20px solid #95c93a;
}

.modal-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 50px;
  padding-top: 20px;
  padding-right: 25px;
  cursor: pointer;
}

.modal-close-icon {
  width: 20px;
  height: 20px;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-header-cover {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.modal-header-info {
  padding: 0 20px;
}

.modal-header-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.header-extra-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 20px;
  line-height: 20px;
  vertical-align: middle;
  margin: 5px;
}

.extra-item-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 10px;
}

.modal-enroll {
  background-color: #ededee;
}

.modal-enroll-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  padding: 10px 0;
}

.enroll-field-wrap {
  position: relative;
  max-width: 220px;
  margin-bottom: 10px;
}

.enroll-input {
  width: 220px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #7f8285;
}

.enroll-input-field {
  padding: 9px 20px;
  background-color: transparent;
}

.enroll-field-label {
  position: absolute;
  left: 20px;
  top: 9px;
}

.enroll-input:focus ~ .enroll-field-label {
  display: none;
}

.enroll-input:valid ~ .enroll-field-label {
  display: none;
}

.submit-button {
  background-color: #ff5656;
  border: none;
  color: #ffffff;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.modal-about-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #ededee;
}

.modal-about-tab {
  padding: 10px;
  font-size: 13px;
  cursor: pointer;
}

.modal-about-tab.current {
  background-color: #ededee;
}

.modal-about-tab-body {
  display: none;
  padding: 10px;
}

.modal-about-tab-body.current {
  display: initial;
}

.modal-teacher-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=style.css.map */